<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AstroSock</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('.static', filename='style.css') }}">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="banner">
        <img src="{{ url_for('.static', filename='img/AstroSockLogo.png') }}"/>
        <h1>Welcome to AstroSock!</h1>
        <p>AstroSock offers applications from the astronomy domain as WebSocket services. <br/>
            It allows you to run multiple services, interact with them and link them.</p>
    </div>
    <div class="service-container">
        <h1>Registered Services:</h1>
        <div class="grid">
            {% for service in services %}
            <a href="/service/{{ service.key }}/{{ service.port }}">
            <div class="grid-item">
                <h2>{{ service.name }}</h2>
                <p>{{ service.description }}</p>
            </div>
            </a>
            {% endfor %}
        </div>

    </div>
</body>
</html>
