body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: Roboto;
}

.banner {
    position: fixed;
    top: 50px;
    left: 10vw;
    padding-top: 50px;
    width: 90vw;
    height: calc(100vh - 50px);
    background-attachment: fixed;
    background-image: url('img/hdf_t.png');
    background-size: cover;
    text-align: center;
}

.banner p {
    font-size: 30px;
}

.banner h1 {
    font-size: 50px;
}

.sidemenu {
    top: 0;
    left: 0;
    width: 10vw;
    padding: 1%;
    position: fixed;
    background-color: #424242;
    z-index: 42;
    height: 100vh;
    text-align: center;
}

.sidemenu img {
    margin-bottom: 50px;
    width: 100%;
}

.sidemenu ul {
    list-style: none;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
}

.sidemenu ul li {
    text-decoration: none;
    display: block;

    margin: 1%;
}

.sidemenu ul li button {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border: 0;
    background-color: #535353;
    color: cyan;
    font-size: 18px;
    font-family: Roboto;
}


.sidemenu ul li button:hover{
    color: black;
    background-color: cyan;
    cursor: pointer;
}

.service-container {
    top: 100vh;
    left: calc(10vw + 2%);
    width: calc(90vw - 6%);
    margin-top: 2%;
    text-align: center;
    padding: 2%;
    background-color: black;
    position: relative;
}

.grid {
    display: grid;
    grid-template-columns:  25vw 25vw 25vw 25vw;
    gap: 10px;
}

.grid a:link, .grid a:visited, .grid a:active {
    color: white;
    text-decoration: none;
}

.grid-item:hover {
    background-color: #646464;
}

.grid-item {
    padding: 20px;
    background-color: #535353;
    height: 200px;
}
